# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
javabase/target/
javacorelibrary/target/
javamultithread/target/
javaweb/src/main/webapp/
javaweb/target/
javaweb/bin/
