<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
    <!-- 创建一个受Spring管理的PersonService仿冒，其它Bean很自然的可以获得注入 -->
    <!--<mockito:mock id="personService" class="mockitotest.PersonService" />-->
    <!-- 可以监控（Spying）一个Bean，但不影响它的任何行为，注意beanName必须与@Service指定的名称一致 -->
    <!--<mockito:spy beanName="accountService" />-->
</beans>